


@using System.Web.Mvc.Html
@using AutoMoto.Contracts
@using Microsoft.AspNet.Identity
@using Roles = AutoMoto.Model.Models.Roles
@model AutoMoto.Contracts.ViewModels.AdvertisementItemViewModel
@{
    ViewBag.Title = Model.AdvertisementCurrent.Title;
}



<div class="body-content">
    <div class="main-section">
        @Html.Partial("_ContactForm", Model)
        <div class="row">
            <div class="container-fluid">
                <div class="row">

                    @if (TempData[TempKeys.UserMessage] != null)
                    {
                        var alertState = "bg-success";
                        var icon = "fa-check";

                        if (TempData[TempKeys.UserMessageAlertState] != null)
                        {
                            alertState = "bg-danger";
                            icon = "fa-exclamation-circle";
                        }

                        <div class="alert @alertState">
                            <p><i class="fa @icon"></i> @TempData[TempKeys.UserMessage]</p>
                        </div>
                    }

                    <div class="col-md-8 col-xs-12">
                        <div class="section panel-header">
                            <div class="col-md-12">
                                <h3>
                                    @Model.AdvertisementCurrent.Title
                                    <div class="pull-right">
                                        @if (Model.AdvertisementCurrent.UserId == User.Identity.GetUserId() || User.IsInRole(Roles.Admin))
                                        {
                                            <a class="btn btn-danger" href="#" onclick="confirmDelete(@Model.AdvertisementCurrent.Id, '@Model.AdvertisementCurrent.Title');"><i class="glyphicon glyphicon-trash"></i> Usuń</a>
                                        }
                                    </div>
                                </h3>

                                <h4>
                                    @Html.DisplayFor(x => x.AdvertisementCurrent.Car.Price) zł
                                </h4>
                                <p class="lead text-lighten">
                                    @Model.AdvertisementCurrent.User.Address.City
                                </p>
                            </div>
                        </div>
                        <div class="panel-header bdr-b container-fluid">
                            <ul class="nav nav-tabs" role="tablist" id="mainTab">
                                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab"><i class="fa fa-info"></i>Opis</a></li>
                                <li role="presentation">
                                    <a id="contactModal" data-toggle="modal" data-target="#contactModal"><i class="fa fa-envelope"></i>Kontakt</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="description">
                                <div class="panel panel-default bdr-t-none">

                                    <table class="table" style="font-size: 21px">
                                        <tbody>
                                        <tr>
                                            <td class="col-lg-3">
                                                Marka
                                            </td>
                                            <td class="col-lg-9">
                                                @Model.AdvertisementCurrent.Car.Model.Manufacturer.Name
                                            </td>
                                        </tr>

                                            <tr>
                                                <td class="col-lg-3">
                                                    Model
                                                </td>
                                                <td class="col-lg-9">
                                                    @Model.AdvertisementCurrent.Car.Model.Name
                                                </td>
                                            </tr>

                                        <tr>
                                                <td>
                                                    Cena
                                                </td>
                                                <td>
                                                    @Model.AdvertisementCurrent.Car.Price zł
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Pojemność silnika
                                                </td>
                                                <td>@Html.DisplayFor(x => x.AdvertisementCurrent.Car.EngineCap)</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Miasto
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(x => Model.AdvertisementCurrent.User.Address.City)
                                                </td>
                                            </tr>

                                            @if (@Model.Features.Any())
                                            {
                                                <tr>
                                                    <td class="col-lg-3">
                                                        Wyposażenie
                                                    </td>
                                                    <td class="col-lg-9">
                                                        @foreach (var feature in Model.Features)
                                                        {
                                                            <div style="margin: 6px 2px; float: left">
                                                                <label class="label label-primary" style="background-color: #50505f;">@feature.Name</label>

                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                    <div class="panel-body" style="">
                                        <pre style="font-family: 'Roboto', sans-serif;color: #50505f; font-size: 16px; white-space: pre-wrap;word-break: keep-all;">@Model.AdvertisementCurrent.Description </pre>

                                    </div>

                                    <div class="panel-heading bdr-t">
                                        <i class="fa fa-picture-o"></i> Zdjęcia
                                    </div>
                                    <div class="panel-body">
                                        @if (Model.Pictures.Count > 0)
                                        {
                                            <div id="carousel-gallery" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < Model.Pictures.Count; i++)
                                                    {
                                                        <li data-target="#carousel-gallery" data-slide-to="@i"></li>
                                                    }
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    @for (int i = 0; i < Model.Pictures.Count; i++)
                                                    {
                                                        <div class="item @(i == 0 ? "active" : "")">
                                                            <img style="margin-left: auto; margin-right: auto;" alt="" src="@Model.Pictures[i].Url" data-holder-rendered="true">
                                                        </div>
                                                    }
                                                </div>
                                                <a class="left carousel-control" href="#carousel-gallery" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    <span class="sr-only">Poprzednie</span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-gallery" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    <span class="sr-only">Następne</span>
                                                </a>
                                            </div>

                                        }

                                    </div>
                                    <table class="table" style="font-size: 21px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Dodano
                                                </td>
                                                <td>
                                                    @Model.AdvertisementCurrent.AddedDate.ToShortDateString()
                                                </td>
                                            </tr></tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4 col-xs-12">
                            <div id="sidebar" data-spy="affix" data-offset-top="120" class="affix text-center">
                                <div class="panel panel-default panel-body mrg-t text-center">
                                    <a href="@Url.Action("Profile", "Advertisement", new { id = Model.User.Id })">
                                        <img class="img-circle profile-picture" src="http://www.gravatar.com/avatar/?d=mm"/>
                                        <h5>@Model.User.FirstName @Model.User.LastName</h5>
                                        </a>
                                  
                                    @if (User.Identity.IsAuthenticated)
                                    {

                                        if (Model.IsFollowing)
                                        {
                                            <button class="btn btn-info js-toggle-follow btn-block" data-user-id="@Model.AdvertisementCurrent.UserId">Obserwowany</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary js-toggle-follow btn-block" data-user-id="@Model.AdvertisementCurrent.UserId">Obserwuj</button>
                                        }
                                    }
                                    <a id="contactModal" data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-block">Kontakt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("/Scripts/bootbox.min.js")
    <script>
        function confirmDelete(id, title) {
            var url = '@Url.Action("Delete", "Advertisement")';
            bootbox.dialog({

                title: "Usuwanie",
                message: "Czy na pewno chcesz usunąć ogłoszenie "+title+" ?",
                buttons: {
                    danger: {
                        label: "Usuń",
                        className: "btn-danger",
                        callback: function() {
                            $.ajax({
                                url: url,
                                data:  {id:id},
                                method: "POST"
                            })
                                .done(function() {
                                    var url = '@Url.Action("Index", "Home")';
                                    window.location.href = url;
                                });
                        }
                    },
                    no: {
                        label: "Anuluj",
                        className: "btn-default"
                    }
                }

            });
        }


        $(document)
            .ready(function() {
                $(".js-delete")
                    .click(function(e) {
                        var link = $(e.target);


                    });
                AdvertisementDetailsController.init();
            });
    </script>
}