@model AutoMoto.Contracts.ViewModels.AdvertisementViewModel
@{
    ViewBag.Title = "Form";
}
@Styles.Render("~/Content/fileinput.min.css")
@using (Html.BeginForm("Create", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dodaj ogłoszenie</h1>
            </div>
        </div>
        <div class="main-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="center-block col-md-8">
                        <div class="panel panel-default mrg-t">

                            <div class="panel-body bdr-b panel-header">
                                <h4>[[[Dodaj ogłoszenie (it's 100% free)]]]</h4>
                            </div>
                            <div class="panel-body bdr-b">

                                @Html.HiddenFor(m => m.Id)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Title)
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Description)
                                            @Html.TextAreaFor(m => m.Description, 10, 40, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Price)
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                                                <span class="input-group-addon">zł</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Zdjęcia</div>
                            <div class="panel-body">
                                <div class="row">

                                    <label class="control-label">Select File</label>
                                    <input id="PhotoFiles" name="PhotoFiles" type="file" class="file" multiple>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-9">
                        <div class="panel panel-primary">

                            <div class="panel-heading">Twój pojazd</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Manufacturer)
                                            @Html.DropDownListFor(m => m.Manufacturer, new SelectList(Model.Manufacturers, "Id", "Name"), "Wybierz markę", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Model)
                                            @Html.DropDownListFor(m => m.Model, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "Wybierz model", new { @class = "form-control", disabled = true })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Year)
                                            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FuelType)
                                            @Html.EnumDropDownListFor(
                                x => x.FuelType,
                                "Wybierz rodzaj paliwa",
                                new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EngineCap)
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.EngineCap, new { @class = "form-control" })
                                                <span class="input-group-addon">cm3</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Mileage)
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control" })
                                                <span class="input-group-addon">km</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Dodatkowe wyposażenie</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        }

        @section Scripts {
            <script>
                $('#Manufacturer')
                    .change(function () {
                        $('#Model').html(null);
                        var url = '@Url.Action("FillModels", "Advertisement")';
                        $.getJSON(url,
                            "manufacturer=" + $('#Manufacturer').val(),
                            function (data) {
                                $("#Model").prop("disabled", false);
                                $.each(data,
                                    function (i, model) {
                                        $("#Model")
                                            .append(
                                                $('<option></option>').val(model.Id).html(model.Name));
                                    });
                            });
                    });

            </script>
        }
        @section MyScripts{
            @Scripts.Render("~/Scripts/fileinput.min.js");
        }
