
@using AutoMoto.Contracts
@using PagedList.Mvc;
@model AutoMoto.Contracts.ViewModels.SearchModel
@{
    ViewBag.Title = "Ogłoszenia";
}
@section Styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
}

<div class="container-fluid body-content">

    <div class="mrg-tb">
        <div class="row">
            <div class="col-md-3">
                <div class="search-widget panel panel-default">
                    <form method="get" action="@Url.Action("Index", "Advertisement", new { })">
                        <div class="panel-heading">
                            Wyszukaj
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label>Marka</label>
                                    @Html.DropDownListFor(m => m.ManufacturerId, new SelectList(Model.Manufacturers, "Id", "Name", Model.ManufacturerId), "Marki", new { @class = "form-control", onchange = "this.form.submit()" })
                                </div>
                                <div class="form-group">
                                    <label>Model</label>
                                    @if (Model.ManufacturerId == 0)
                                    {
                                        @Html.DropDownListFor(m => m.ModelId, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "Modele", new { @class = "form-control", disabled = true })

                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.ModelId, new SelectList(Model.Models, "Id", "Name", Model.ModelId), "Modele", new { @class = "form-control", onchange = "this.form.submit()" })

                                    }
                                </div>
                                <div class="form-group">
                                    <label>Miasto</label>
                                    <input type="text" class="form-control" placeholder="Miasto" id="Location" name="Location" value="@Model.Location">
                                </div>
                                <div class="form-group">
                                    <label>Cena</label>
                                    <div class="row">
                                        <div class="col-xs-6 range-from">
                                            <input type="number" class="form-control" placeholder="Min" id="PriceFrom" name="PriceFrom" value="@Model.PriceFrom">
                                        </div>
                                        <div class="col-xs-6 range-to">
                                            <input type="number" class="form-control" placeholder="Max" id="PriceTo" name="PriceTo" value="@Model.PriceTo">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Wyposażenie</label><br/>
                                    @Html.DropDownListFor(m => m.SelectedFeatures, new SelectList(Model.Features, "Id", "Name"), new {@class= "form-control js-multiple", @multiple="multiple"})
                                </div>
                            </fieldset>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-sm btn-primary" href="">Szukaj</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 section-title">
                <div class="row">
                    <div class="col-md-12">

                        <h4>
                           Ogłoszenia
                        </h4>
                    </div>
                </div>
                <div class="row m-b-10">
                    @Html.Partial("~/Views/Advertisement/_Grid.cshtml", Model)
                </div>
                <div class="panel-header bdr-b">
                    <div class="container-fluid">
                        <div class=" col-md-12">
                            <h5 class="pull-left mrg-t">
                                @string.Format("Strona {0} z {1}", Model.ListingsPageList.PageCount < Model.PageNumber ? 0 : Model.PageNumber, Model.ListingsPageList.PageCount)
                            </h5>
                            @Html.PagedListPager(Model.ListingsPageList, (page) => { return Request.UrlReplace("PageNumber", page.ToString()); },
                            new PagedListRenderOptions
                            {
                                ContainerDivClasses = new List<string>(new string[] { "pull-right" }),
                                DisplayPageCountAndCurrentLocation = false,
                                MaximumPageNumbersToDisplay = 5,
                                DisplayEllipsesWhenNotShowingAllPageNumbers = false
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">
    $(".js-multiple").select2();
</script>
}