<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoMoto</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AutoMoto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Ogłoszenia", "Index", "Advertisement")</li>
                    <li>@Html.ActionLink("Dodaj ogłoszenie", "Create", "Advertisement")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/Scripts/underscore-min.js")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)
<script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification){ %>
            <% var url = "Advertisement/Details/"+notification.advertisement.id; %> 
            <li><a href= <%= url %> ><%= notification.dateTime %> <span class="highlight"><%= notification.advertisement.user.firstName %> <%= notification.advertisement.user.lastName %></span> dodał ogłoszenie: <%= notification.advertisement.title %> </a></li>
            

            <%
            })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0)
                    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: "bottom",
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

                }).on("shown.bs.popover", function() {
                    $.post("/api/notifications/markAsRead")
                        .done(function () {
                            $(".js-notifications-count")
                                .text("")
                                .addClass("hide");
                        });
                });

            });
        });
    </script>
</body>
</html>
