@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav top-menu">
            <li class="notifications">
                <a href="#">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span class="badge js-notifications-count hide"></span>
                </a>
            </li>
           @Html.Action("Messages","Home")
            <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img alt="Avatar" class="avatar img-circle" src="http://www.gravatar.com/avatar/?d=mm">
                    <span class="username">@User.Identity.Name </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a target="_blank" href="@Url.Action("Index", "Admin")">Panel administracyjny</a></li>
                        <li class="divider"></li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="dropdown messages-menu hidden-xs">@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="dropdown messages-menu hidden-xs">@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>

}
