@model IEnumerable<AutoMoto.Models.MessageNotification>
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="glyphicon glyphicon-envelope"></i>
        @if (Model.ToList().Count > 0)
        {
            <span class="badge count">@Model.ToList().Count</span>
        }
    </a>
    <ul class="dropdown-menu extended fadeInUp animated nicescroll" tabindex="5001">
        <li>
            <p>Wiadomości</p>
        </li>
        @if (Model.ToList().Count > 0)
        {
            foreach (var message in Model)
            {
                <li>
                    <a class="truncate" href="@Url.Action("Message", "Manage", new { thread = message.Message.Thread})">
                        <div class="pull-left"><img src="http://www.gravatar.com/avatar/?d=mm" class="img-circle thumb-sm m-r-15 m-b-10" alt="img"></div>
                        <span class="block">
                            <strong>@message.Message.FromUser.FirstName @message.Message.FromUser.LastName </strong><br>
                            @Html.Raw(message.Message.Content)<br><small class="text-muted">@message.DateTime.ToShortTimeString()</small>
                        </span>
                    </a>
                </li>
            }
        }
        else
        {
            <li>
                <a href="@Url.Action("Messages","Manage")" class="text-right">Brak nowych wiadomości</a>
            </li>
        }
        <li>
            <p><a href="@Url.Action("Messages","Manage")" class="text-right">Wszystkie wiadomości</a></p>
        </li>
    </ul>
</li>